async-timeout==5.0.1
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
psycopg2==2.9.10
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
rq==2.0.0
soupsieve==2.6
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
waitress==3.0.1
Werkzeug==3.1.2
selenium==4.15.1
webdriver_manager==3.5.2
requests>=2.26.0
beautifulsoup4>=4.9.3